.fa {
	display: inline-block;
	/* font-family: FontAwesome; */
	font-size: inherit;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
